<div class="formulario">
<form class="formulario" action="/login" method="POST">
  <label class="formulario" for="email">Correo electrónico:</label>
  <input class="formulario" type="email" id="email" name="email" required>

  <label class="formulario" for="password">Contraseña:</label>
  <input class="formulario" type="password" id="password" name="password" required>

  <button class="formulario" type="submit">Iniciar sesión</button>
</form>