<div class="newUser">
    <h1 class="newUser">Registro de usuario</h1>
    <form class="newUser" action="/register" method="POST">
        <label class="newUser" for="name">Nombre:</label>
        <input class="newUser" type="text" id="name" name="name" required>
    
        <label class="newUser" for="email">Correo electrónico:</label>
        <input class="newUser" type="email" id="email" name="email" required>
    
        <label class="newUser" for="password">Contraseña:</label>
        <input class="newUser" type="password" id="password" name="password" required>
    
        <button class="newUser" type="submit">Registrar</button>
    </form>
</div>


